.add-user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header,
footer {
  width: 100%;
  padding: 20px;
  background-color: #8b2113;
  text-align: center;
  border-bottom: 1px solid #8b2113;
}

.add-user-container {
  flex: 1;
  width: 600px;
  max-width: 90%;
  margin: 20px auto;
  margin-top: 75px;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid #0a0a0a;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.507);
  background-color: #ffffff;
}

.add-user-title {
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: center;
  color: #020202;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #49444483;
  border-radius: 4px;
  font-size: 1em;
  background-color: #ffffff;
}

.error-message {
  color: rgb(17, 8, 8);
  text-align: center;
  margin-bottom: 15px;
}

.success-message {
  color: green;
  text-align: center;
  margin-bottom: 15px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #4e4b4b;
}

.submit-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
